<!-- emmet -->
<form action="/crear-licor"
      method="POST">

    <div>
        <label for="nombre">Nombre</label>
        <input id="nombre" name="nombre" type="text">
    </div>

    <div>
        <label for="descripcion">Descripcion</label>
        <textarea id="descripcion"
                  name="descripcion"
                  cols="30" rows="4"></textarea>
    </div>

    <div>
        <label for="tipoLicor">Tipo De Licor</label>
        <input id="tipoLicor" name="tipoLicor" type="text">
    </div>
    <button>Crear licor</button>

</form>

<a href="/inicio">
    <button>Regresar</button>
</a>